#theTime {

	text-align: center;
	

}


h1 {
	text-align: center;
}



.gameArea {
	background-color: transparent;
	width: 100%;
	height: auto;
	opacity: 0.4;
	border: 5px solid gray;

}
#quesHolder, .ansHolder {
	background-color: white;

}

#quesHolder {
	height: auto;
	text-align: center;
	
}
#quesHolderp {
	font-size: 20px;
}

.ansHolder {
	height: auto;


}
header p {
	display: inline block;
	text-align: center;
}
#score {
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
}











